.contactContainer {
  max-width: 880px;
  width: 100%;
  padding: 45px 10px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h5 {
  font-weight: 800;
  font-size: 37px;
}

form {
  font-style: italic;
  width: 100%;

  ul {
    padding: 0;

    li {
      margin-bottom: 30px;
    }
  }
}

.btnSubmit {
  padding: 5px;
  height: 50px;
  max-width: 190px;
  width: 100%;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  transition: all .3s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    letter-spacing: 2px;
  }
}

.btnSubmit[disabled] {
  opacity: .2;
  cursor: default;

  &:hover {
    letter-spacing: 0;
  }
}

textarea {
  padding: 10px;
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
}

@import "src/media.scss";