.navigationContainer {
  padding: 0 100px;
  width: 400px;
  height: 100vh;
  display: flex;
  align-items: center;
  nav {
    padding: 40px 0;
    width: 200px;
    ul {
      li {
        font-weight: 600;
        transition: .2s;
        &:hover {
          letter-spacing: 2px;
        }
      }
    }
  }
}


.tub {
  color: #767676;
  transition: .2s;
  &.activeLink {
    color: #000;
    margin-left: 15px;
    letter-spacing: .5px;
  }
}

@import "src/media.scss";