.headerContainer {
  padding: 20px 40px;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.headerIcons {
  display: flex;
}

.iconContainer {
  margin-right: 17px;
  width: 15px;
  height: 15px;

  a {
    display: flex;
  }

  img {
    transition: .3s;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.activeTabHeader {
  img {
    transform: scale(1.5);
  }
}

@import "src/media.scss";